@section Styles {
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true">
}

@section Scripts {
    <script src="~/js/dashboard.js" asp-append-version="true"></script>
}

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
</div>
